DATABASE_URI=postgresql+psycopg2://<your_psql_user>:<your_psql_password>@localhost:5432/climbing_tracker_db --> # OR <your_database_name> if changed from default/requested name
JWT_SECRET_KEY=<'Copied from setup instructions'> # Please see Setup Guide in README.md